:root {
    --green: #0d4138;
    --lightGray: #dbd0c2;
    --darkGray: #3d4234;
    --darkBrown: #7d5c44;
    --lightBrown: rgba(219, 169, 118, 0.8);
    --white: #f2f2f2;
    --black: #232528;
    --primaryColor: #0d4138;
}

body {
    font-family: "Neue Haas Unica", sans-serif !important;
}

.h1 {
    font-size: 24px !important;
    font-weight: bold !important;
    color: var(--black) !important;
}

.navbar-toggler {
    background: var(--primaryColor) !important;
    color: var(--white) !important;
}

.bell {
    margin-left: 160px !important;
    color: var(--primaryColor) !important;
}

.button {
    background-color: var(--primaryColor) !important;
    color: var(--white) !important;
    width: 25% !important;
    font-size: 16px !important;
}

.box {
    width: 100px;
    height: 100px;
    background-color: var(--primaryColor);
    border-radius: 15px;
    text-align: center;
    color: var(--white);
}

.box2 {
    width: 100px;
    height: 100px;
    border-color: var(--primaryColor);
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    color: var(--primaryColor);
}

.box3 {
    width: 100px;
    height: 95px;
    background-color: var(--lightGray);
    border-radius: 15px;
    text-align: left;
}

.box4 {
    width: 100px;
    height: 95px;
    border-color: var(--lightGray);
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    color: var(--black);
}

.logo-bg {
    background: var(--darkBrown) !important;
}

.logo-bg2 {
    background: var(--primaryColor) !important;
}

.space {
    font-size: smaller;
    letter-spacing: 0.25px;
    color: var(--darkGray);
}

.amount {
    letter-spacing: 4px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border-color: var(--primaryColor);
    border-style: groove;
}

.header {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
    color: #787878;
}

.underline {
    text-decoration: underline;
}