/* Your CSS styling for the multiple payment page goes in here by Abayomi. */
/* Your CSS styling for the multiple payment page goes in here by Abayomi. */
:root {
  --lightGray: #F2F2F2;
  --lightGray--01: #DBD0C2;
  --gray:#E5E5E5;
  --black:#000000;
  --dark-green: #0D4138;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.section-form {
  margin: auto;
  margin: 0;
  min-width: 400px;
  font-family: sans-serif;
}

.header {
  display: flex;
  font-family: sans-serif;
  padding: 1rem;
  padding-left: 30px;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  background: var(--gray);
}
.header img{
  margin-right: 10px;
}

.form {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 350px;
}

.form__detail {
  display: -w ebkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  text-align: center;
  width: 80%;
  min-width: 350px;
  border: 0.1rem solid #8d8a8a;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1rem;
}

.form__detail input {
  margin: .5rem;
  padding: 1rem;
  border-radius: .5rem;
}

.form__detail input:focus-visible {
  outline: none;
}

.form__detail input:not(:first-child) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  border: 2px solid var(--lightGray--01);
  background-color: var(--gray);
  width: 40px;
}

.form__detail input:first-child + input {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.form__detail [type="checkbox"] {
  line-height: 2;
}

/* switch style */
.toggle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-box__text {
  display: inline-block;
  margin-right: 1rem;
}
.toggle-box__text--01{
  font-weight: 700;
  font-size: 1.5rem;
}
.toggle-box__text--02{
  font-size: 1.2rem;
}

.toggle-switch {
  width: 5rem;
  height: 1.5rem;
  padding: .2rem;
  display: inline-block;
  border-radius: 2.5rem;
  background: white;
  border: .1rem solid;
  position: relative;
  cursor: pointer;
}
.toggle-switch::after{
  content: "";
  display: inline-block;
  background-color: black;

  height: 1.5rem;
  width: 2.1rem;
  border-radius: 5rem;
   -webkit-transform: translatex(-0.3rem);
  transform: translatex(-0.3rem);
}



/* .toggle-switch__botton {
  width: 2.5rem;
  height: 1.3rem;
  background-color: gray;
  display: inline-block;
  border-radius: 1.5rem;
  -webkit-transform: translatex(-0.5rem);
          transform: translatex(-0.5rem);
} */

.toggle-delete {
  font-size: 3rem;
}

/* switch functionallity */

.toggle-box input[type='checkbox'] {
  display: none;
}

.toggle-box input[type='checkbox']:checked + .toggle-switch {
  background-color: var(--dark-green);
}

.toggle-box input[type='checkbox']:checked + .toggle-switch:after {
  background-color: var(--gray);
  -webkit-transform: translateX(3rem);
          transform: translateX(2.2rem);
}

/* submit button */
button[type='submit'] {
  padding: 1rem;
  border-radius: 20px;
  width: 85%;
  background-color:#787878;
  color: white;
  cursor: pointer;
}

button[type='submit']:hover{
  background-color: var(--dark-green);
}

.box {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #787878;
  font-family:sans-serif Neue Haas Unica;
  width: 90%;
  margin:2.5rem auto .5rem;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          align-items: center;
}

.box .btn {
  display: inline-block;
  padding: 1rem;
  border: .1rem solid gray;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */